<h1> CLIENTS </h1>

<ul>
    {% for client in client_list %}
        <h3><a href="{% url 'api:client_details' client.id %}">{{ client.first_name }} </a></h3>
        <h3>{{ client.last_name }} </h3>
        <h4>{% for client in client.address.all %}{{ client }}{% endfor %}</h4>
        <h4>{{ client.date_of_birth }} </h4>
        <h4>{{ client.zodiac_signs }} </h4>
        <h1>----------------------------------------</h1>

    {% endfor %}

    <a href="{% url 'api:client_create' %}"></a>
    <a href="{% url 'api:client_create' %} ">
        <button> Create New Client</button>   {#  второй способ поставить кликабельную кнопку #}
    </a>



{#    <a href="{% url 'api:client_create' %} "> <input type="submit" value="Create New Client"></a>   -  второй способ поставить кликабельную кнопку#}

</ul>